@layout MainLayout

<h2>My Heroes</h2>
<ul class="heroes">
    @foreach (var hero in _heroes)
    {
        <li 
            @onclick="(() => OnSelect(hero))"
            class="@((hero == _selectedHero) ? "selected" : "")">
            <span class="badge">@hero.Id</span> @hero.Name
        </li>
    }
</ul>

<HeroDetail Hero="_selectedHero"></HeroDetail>

@code {

    HeroesService _service;
    ICollection<Hero> _heroes;

    protected override Task OnInitializedAsync()
    {
        _service = new HeroesService();

        _heroes = _service.GetHeroes();

        return base.OnInitializedAsync();
    }


    Hero _selectedHero;

    void OnSelect(Hero hero)
    {
        _selectedHero = hero;
    }

}
